*.py[cod]

# Packages
MANIFEST
*.egg
*.egg-info
dist
build
downloads
__pycache__

# Installer logs
pip-log.txt

Pipfile
Pipfile.lock

# Unit test / coverage reports
.cache/
.eggs/
.pytest_cache/
.tox/
.venv*/
.coverage

# -- IDE-RELATED:
.idea/
.vscode/
.project
.pydevproject

# -- EXCLUDE GIT-SUBPROJECTS:
/lib/parse/
