*.py[cod]

# Packages
MANIFEST
*.egg
*.egg-info
dist
build
downloads
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache/
.eggs/
.idea/
.tox/
.venv*/
.coverage

.project
.pydevproject
