*.py[cod]

# -- TEMPORARY PYTHON PACKAGE PARTS:
parse_type/_version.py
MANIFEST
*.egg
*.egg-info
dist
build
downloads
__pycache__

# Installer logs
pip-log.txt

Pipfile
Pipfile.lock

# -- TESTS, COVERAGE REPORTS, ...
.cache/
.direnv/
.eggs/
.pytest_cache/
.ruff_cache/
.tox/
.venv*/
.coverage
.done.*

# -- IDE-RELATED:
.fleet/
.idea/
.vscode/
.project
.pydevproject

# -- EXCLUDE GIT-SUBPROJECTS:
/lib/parse/
