include README.rst
include LICENSE
include .coveragerc
include .editorconfig
include *.py
include *.rst
include *.txt
include *.ini
include *.cfg

recursive-include bin           *.sh *.py
recursive-include docs          make* *.rst *.txt *.py
recursive-include requirements  *.txt
recursive-include tests         *.py

prune .tox

