include README.rst
include LICENSE
include .coveragerc
include .editorconfig
include *.py
include *.rst
include *.txt
include *.ini
include *.cfg
include *.yaml
include bin/invoke*
exclude __*.rst
exclude __*.txt

recursive-include bin            *.cmd *.py *.sh
recursive-include py.requirements  *.txt
recursive-include tasks         *.py *.txt
recursive-include tests         *.py
# -- DISABLED: recursive-include docs          *.rst *.txt *.py

prune .direnv
prune .tox
prune .venv*
